* {
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: x-large;
}
body {
    /*background: linear-gradient(90deg, rgba(58,65,180,1) 0%, rgba(33,57,244,1) 36%, rgba(29,148,253,1) 58%, rgba(69,252,239,1) 100%);
     *background: linear-gradient(90deg, rgba(171,22,199,1) 18%, rgba(255,13,182,1) 56%, rgba(245,73,246,1) 84%);
     *background: rgb(171,22,199);*/
    /*background: radial-gradient(circle, rgba(171,22,199,1) 30%, rgba(255,13,182,1) 57%, rgba(155,16,156,1) 77%);*/
     background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    width: 100%;
    height: 30rem;
}
.box {
    border: 3px solid white;
    border-radius: 5px;
    background: rgb(171,22,199);
    box-shadow: 20px 20px 10px 5px rgba(0,0,0,0.51);
    width: 45rem;
    height: 23rem;
    margin: auto;
    margin-top: 10rem;
}
.bhe {
    text-align: center;
}
.bhe h1 {
    font-size: 2.5rem;
}
.space {
    padding: 1rem;
}
.ch h3 {
    display: flex;
}
.ch li {
    padding-left: 1rem;
    font-size: 1.5rem;
}
.cin h5 {
    display: flex;
}
.cin input {
    border-radius: 10px;
    margin-left: 1rem;
    width: 10rem;
    border: 3px solid lightgreen;
    background: lightgreen;
}

.btn {
    border-radius: 10px;
    border: 3px solid #ffbf88;
    background: #ffbf88;
    margin-left: 20rem;
    width: 7rem;
    height: 2rem;
    cursor: pointer;
    box-shadow: 5px 5px;
    transition: all 0.5s;
}
.btn:hover {
    border-radius: 10px;
    border: 3px solid cyan;
    background-color: cyan;
    margin-left: 20rem;
    width: 8rem;
    height: 3rem;
    cursor: pointer;
    box-shadow: -5px -5px;
    transition: all 0.5s;
}
